@import "tailwindcss";
:root {
    /* Forced Dark Mode Values */
    --background: #050505;
    --foreground: #ffffff;
    --primary-green: #00DB80;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-green: var(--primary-green);
}


/* We remove the prefers-color-scheme media query to stay dark always */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}


/* Smooth scrolling for the whole site */

html {
    scroll-behavior: smooth;
}